[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
matplotlib = "*"
tqdm = "*"
colour-science = "*"
result = "*"
pandas = "*"
scikit-image = "*"
adjusttext = "*"
lark = "*"
numpy = "*"
scikit-learn = "*"
umap-learn = "*"
flet = {extras = ["all"], version = "*"}
flet-desktop-light = { version = "==0.28.3", markers = "sys_platform == 'linux'" }
imageio = {extras = ["ffmpeg"], version = "*"}

[dev-packages]
mypy = "*"
notebook = "*"
imageio = "*"

[requires]
python_version = "3.12"
